.menu {
  background: #34495e  repeat left top;
  left:-200px;
  top:0px;
  height: 100%;
  position:fixed;
  width: 200px;
  z-index:3000;
}

.menu-opt {
	height:60px;
}

.menu ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.menu li {
  border-bottom: 1px solid #636366;
  line-height: 60px;
  padding-bottom: 3px;
  padding-left: 20px;
  padding-top: 3px;
}

.menu a {
  color: #fff;
  font-size: 18px;
  text-decoration: none;
  text-transform: uppercase;
}

.menu-close {
	display:block;
	width:35px;
	right:0;
	top:0;
    padding: 20% 20% 20% 20%;
}
.menu-close-tr {
	line-height:60px;
	padding-left:20px;
	padding-bottom:20px;
	border-bottom:1px solid #636366;
	}